#root {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.header {
  flex: auto;
  flex-direction: column;
  margin: 30px;
  padding: 20px;
}

.homeBackground {
  background-image: url("./assets/waves.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;  /* Set the height to cover the entire viewport */
  /* Add more styles as needed */
}

.page {
  flex: auto;
  flex-direction: row;
}

.navbar {
  flex: auto;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2em;
  align-items: center;
}

#mapNav {
  margin: 15px;
  color: teal;
}

#popupNav {
  margin: 15px;
}

#profileNav {
  margin: 15px;
}

#logoNav {
  size-adjust: 90%;
}

.header {
  height: 20vh;
}

.halfCenter {
  width: 40vh;
  display: inline-block;
}

.titled {
  padding-top: 5vh;
  padding-bottom: 4vh;
  font-size: 40px;
}

.paragraphed {
  padding-bottom: 10vh;
  font-size: 25px;
}

.titleParaPair {
  width: 33vw;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 50px;
}


.errorMsg {
  color: red;
  text-align: left;
}

.img {
  display: block;
  margin: auto;
  text-align: center;
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

.Feature {
  border-radius: 25px;
}

.titled {
  font-weight: bold;
}

.center {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}