#root {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.header {
  flex: auto;
  flex-direction: column;
  margin: 30px;
  padding: 20px;
}

.page {
  flex: auto;
  flex-direction: row;
}

.navbar {
  flex: auto;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  align-items: center;
}

#mapNav {
  margin: 15px;
}

#popupNav {
  margin: 15px;
}

#profileNav {
  margin: 15px;
}

#logoNav {
  size-adjust: 90%;
}

.header {
  height: 20vh;
}

.halfCenter {
  width: 40vh;
  display: inline-block;
}

.titled {
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 50px;
}

.paragraphed {
  padding-bottom: 10vh;
  font-size: 25px;
}

.titleParaPair {
  width: 33vw;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 50px;
}


.errorMsg {
  color: red;
  text-align: left;
}