#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.header {
  flex: auto;
  flex-direction: column;
  margin: 30px;
  padding: 20px;
}

.form {
  flex: auto;
  flex-direction: column;
  margin: 30px;
  padding: 20px;
}
